@import url('https://fonts.googleapis.com/css?family=Laila');
@import url('https://fonts.googleapis.com/css?family=Courgette');
@import url('https://fonts.googleapis.com/css?family=Raleway');

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
  @font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }
  
  /* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html , body{
    font-family: 'Laila';
    font-size: 18px;
}
body{
    /* background-image: url("/image/anh-nen-may-tinh-cuc-dep-cua-bo-phim-your-name-cau-ten-la-gi-dang-hot-fptshop-3.jpg"); */
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center ;

}
.row-container{
    box-shadow: 0px 0px 20px black;
    color: white;
    padding: 20px;
    border-radius: 25px;
}
h1, label{
    text-shadow: 2px 2px 20px black;
}
.logo{
    width: 40%;
}
.containerWebChat{
    width: 100%;
    min-height: 100vh;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}
.avatar{
    width: 10% !important;
    height: 10% !important;
}
.header{
    background-color: #FF5900;
    height: 160px;
    font-family: "Courgette";
}
.infor{
    height:100px;  
    text-align: center;
    color: white;
}
.title{
    height: 60px;
    line-height: 60px;
    font-size: 3em;
}
.infor-content{
    height: 40px;
    line-height: 40px;
    font-size: 1em;
}

.signout a{
    color: red;
    text-align: right;
}