@model PagedList.IPagedList<ChatWebsiteProjectCSharp.Models.Chatbox>
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Header_Footer.cshtml";
}

@foreach (var item in Model) {
    <div class="row ">
        <nav class="navbar navbar-expand-sm navbar-light   w-100">
            <button class="navbar-toggler d-lg-none avt" type="button" data-toggle="collapse"
                    data-target="#@item.id" aria-label="Toggle navigation">
                <div class="avt">
                    <img src="/image/@item.avatar" alt="Avatar">
                </div>
            </button>
            <div class="collapse navbar-collapse">
                <button class="avt" type="button" data-toggle="collapse" data-target="#@item.id"
                        aria-label="Toggle navigation">
                    <img src="/image/@item.avatar" alt="Avatar">
                </button>
                <button class="box-sms-left notseen" type="button" data-toggle="collapse" data-target="@item.id"
                        aria-label="Toggle navigation">
                    <div class="username-box-left">
                        @item.name
                    </div>
                    <div class="mess-box-left ">
                        @item.mess
                    </div>
                    <div class="timebox">
                        @item.time
                    </div>
                </button>
                <div class="clearfix"></div>
            </div>
        </nav>
    </div>
    <div class="row ">
        <nav class="navbar navbar-expand-sm navbar-light  w-100">
            <button class="navbar-toggler d-lg-none avt" type="button" data-toggle="collapse"
                    data-target="#Mess2" aria-label="Toggle navigation">
                <div class="avt">
                    <img src="/image/DSC_9227.JPG" alt="Avatar">
                </div>
            </button>
            <div class="collapse navbar-collapse">
                <button class="avt" type="button" data-toggle="collapse" data-target="#Mess2"
                        aria-label="Toggle navigation">
                    <img src="/image/DSC_9227.JPG" alt="Avatar">
                </button>
                <button class="box-sms-left" type="button" data-toggle="collapse" data-target="#Mess2"
                        aria-label="Toggle navigation">
                    <div class="username-box-left">
                        Nguyen duc Thien
                    </div>
                    <div class="mess-box-left">
                        Anh đang làm gì thế? Anh đang làm gì thế?
                        Anh đang làm gì thế?
                        Anh đang làm gì thế?
                        Anh đang làm gì thế?
                    </div>
                    <div class="timebox">
                        10:09 AM
                    </div>
                </button>
                <div class="clearfix"></div>
            </div>
        </nav>
    </div>
}
