
<div class="right-Box" id="Mess1">
    <div class="row justify-content-start" id="Mess1">
        <form class="rightheader form-check-inline">
            <img src="/image/DSC_9227.JPG" alt="Avatar">
            <div class="pl-3">
                <div class="name"> Nguyen Duc Thien</div>
                online
            </div>
        </form>
    </div>
    <div class="marginImportant"></div>
    <div class="row justify-content-start">
        <div class="reserveAvt">
            <img src="/image/DSC_9227.JPG" alt="Avatar">
        </div>
        <div class="w-custom">
            <div class="reserveContent">
                <p>
                    Anh đang làm gì thế?
                    Anh đang làm gì thế? Anh đang làm gì thế?
                    Anh đang làm gì thế?
                    Anh đang làm gì thế? Anh đang làm gì thế?
                    Anh đang làm gì thế?
                    h đang làm gì thế?
                </p>
            </div>
        </div>
        <div class="timebox pl-2">
            10:09 AM
        </div>

    </div>


    <div class="row justify-content-end">
        <div class="timebox pr-2">
            10:09 AM
        </div>
        <div class="w-custom">
            <div class="sentContent text-right">
                <div class="sentAvt2">
                    <img src="/image/DSC_9227.JPG" alt="Avatar">
                </div>
            </div>
        </div>
        <div class="sentAvt">
            <img src="/image/DSC_9227.JPG" alt="Avatar">
        </div>
    </div>
    <div class="row justify-content-start">
        <div class="reserveAvt">
            <img src="/image/DSC_9227.JPG" alt="Avatar">
        </div>
        <div class="w-custom">
            <div class="sentContent text-right">
                <div class="sentAvt2">
                    <img src="/image/hinh-hoa.jpg" alt="Avatar">
                </div>
            </div>
        </div>
        <div class="timebox pl-2">
            10:09 AM
        </div>

    </div>

    <div class="row justify-content-end sentbtn" id="Mess1">
        <form class="w-100 form-inline">
            <input class="form-control" type="text" placeholder="enter your message">
            <button class="btn btn-danger" type="submit">Sent</button>
        </form>
    </div>
</div>